CONNECTION_STRING_NEON=<this is postgres database connectin string>
MAILER_SEND_API_KEY=<this is mailersend api key>
MAILER_SEND_FROM_EMAIL=<email to send api key from>
MAILER_SEND_FROM_CONTACT_EMAIL=<contact email in email sent>
MAILER_SEND_FROM_NAME=<send from name>
USER_NOTIFICATION_TEMPLATE_ID_PDF_REVESH=<mailersend template id>